._2048 {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

._2048__input {
  appearance: none;
  background-color: transparent;
  border: none;
  color: transparent;
  position: fixed;
  height: calc(100vh + 10px);
  width: calc(100vw + 10px);
  top: -5px;
  left: -5px;
  cursor: pointer;
  z-index: 2;
}

._2048__table {
  position: fixed;
  height: 500px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  background-color: #bbada0;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
  border-radius: 5px;
  z-index: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

._2048__table__cell {
  height: 100px;
  width: 100px;
  margin: 200px;
  border-radius: 5px;
}

._2048__table__cell__0 { background-color: #cbc0b4; }
._2048__table__cell__2 { background-color: #eee3db; color: #776e65; font-size: 55px; }
._2048__table__cell__4 { background-color: #ede0c9; color: #776e65; font-size: 55px; }
._2048__table__cell__8 { background-color: #f1b07d; color: #f9f6f2; font-size: 55px; }
._2048__table__cell__16 { background-color: #f39568; color: #f9f6f2; font-size: 50px; }
._2048__table__cell__32 { background-color: #f37c64; color: #f9f6f2; font-size: 50px; }
._2048__table__cell__64 { background-color: #f35f43; color: #f9f6f2; font-size: 50px; }
._2048__table__cell__128 { background-color: #edce78; color: #f9f6f2; font-size: 40px; }
._2048__table__cell__256 { background-color: #eccb6a; color: #f9f6f2; font-size: 40px; }
._2048__table__cell__512 { background-color: #eccb6a; color: #f9f6f2; font-size: 40px; }
._2048__table__cell__1024 { background-color: #ecc34d; color: #f9f6f2; font-size: 30px; }
._2048__table__cell__2048 { background-color: #ecc040; color: #f9f6f2; font-size: 30px; }
._2048__table__cell__4096 { background-color: #3e3933; color: #f9f6f2; font-size: 30px; }

._2048__game-over {
  position: fixed;
  height: 500px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  background-color: rgba(238, 228, 218, 0.73);
  border-radius: 5px;
  padding-top: 200px;
  color: #776e65;
  text-align: center;
  font-size: 65px;
  z-index: 1;
}
